body{
    display: flex;
    flex-wrap: wrap;
    height:700px;
    width:100vw
}

header{
    background-color: #4E885C;
    color: orange;
    justify-content: center;
    height: 110px;
    width:100%;
    display: flex;
    flex-direction: row-reverse;
    
}

#lewy{
    background-color: #72A37D;
    width: 30%;
    height: 300px;
    
}

#srodek{
    background-color: #A2C3A9;
    background-image: url(pizza.png);
    background-position: 180px;
    background-repeat: no-repeat;
    width: 40%;
    height: 300px;

}

#prawy{
    background-color: #72A37D;
    width: 30%;
    height: 300px;
    align-items: center;
    flex-direction: column;
    display: flex;
    
}

section{
    background-color: #A2C3A9;
    align-items: center;
    flex-direction: column;
    display: flex;
    height: 250px;
    width: 100%;
}

footer{
    background-color: #4E885C;
    color: orange;
    width: 100%;
    
    
}

#prawy > a{
    background-color: orange;
    color:green;
    padding: 15px;
}

img{
  height: 60%;
    margin: 30px;
    
}