*{
    font-family: "Verdana";
    color: #2F2F2F;
}


body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
header{
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    
    
}
#im{
    width: 400px;
    height: auto;
}
#ma{
    width: 100%;
    height: 450px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    
}
footer{
    width: 100%;
    
}
#he1{
    background-color: #DCDCDC;
    width: 55%;
    height: 80px;
    text-align: center;
}

#he2,#he3,#he4{
    background-color: #DCDCDC;
    width: 15%;
    height: 80px;
    text-align: center;
}

#lewy{
    background-color: #808080;
    width: 30%;
    height: 450px;
    
}
#prawy{
    background-color: #808080;
    width: 70%;
    height: 450px;
   
    
    
}

h5{
    color: #808080;
    border: 1px solid #808080;
    margin: 7px;
    padding: 10px;
    font-size: 80%;
    
}
input{
    color: gray;
}


footer{
    background-color: #DCDCDC;
    text-align: center;
}

footer>p{
    margin:0;
    padding: 0;
}
