body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    height: 660px;
    width: 100vw;
    
}
@font-face{
   font-family:czcionka;
    src:url(CastoroTitling-Regular.ttf)
}
header{
    width: 100%;
    height: 80px;
    background-color: rgb(48,27,94);
    color: white;
    font-size: 100%;
    text-align: center;
    
}

article{
    width: 100%;
    height: 300px;
    background-color: rgb(127,118,158);
    color: white;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    
}

section{
    width: 100%;
    height: 200px;
    background-color: rgb(220,220,220);
    font-size: 110%;
    text-align: center;
}

footer{
    width: 100%;
    height: 80px;
    background-color: rgb(127,118,158);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

table, td{
    border: 2px solid white;
}
table{
    width: 40%;
    
}
ol{
    margin: 0;
}
form>p{
    margin: 5px;
}

h1,h2,h3{
    text-transform: uppercase;
    font-family: czcionka;
}

h1{
    margin: 5px;;
    padding: 0;
}

div{
    border: 4px solid white;
    border-radius: 20px;
    margin: 10px;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

@keyframesa animacja{
    animation: 1s
}







