table, tr, td, th   {width: 80%;
                border: 2px solid grey;
                border-collapse: collapse;
                width: 100vh;
                height: 2vh;
                font-family: sans-serif;}

table tr:first-child   {background-color: orange;
                        color: white;}
table tr:nth-child(2)   {background-color:#F0C26A;}