main{
    margin:0px;
    display: flex;
    flex-wrap: wrap;
    width: 100vw
}

header{
    background-color: #9A6114;
    margin: 0px;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    width:100vw;
    font-size: 40px;
    text-transform: uppercase;
}

section{
    height: 75vh;
    width: 70vw;
   font-size: 20px;
    line-height: 1.3;
    
}

aside{
    background-color: #C47C10;
    height: 75vh;
    width: 30vw;
    color: #FFF;
    font-size: 20px
}

h4{
    text-align: center;
    text-transform: uppercase;
    font-size:20px; 
    
}
button{
    margin-top: 10px
}