*{
    margin: 0;
    font-family: 'Arial';
}
main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: aquamarine;
}
nav>a{
    width: 20vw;
    height: 80px;
    background-color: lightgray;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    /*display:inline-block;*/
    position: relative;
    font-size: 28px;
}
nav>a::after{
    content: '🚈🚟🚟🚟🚟🚟🚟';
    position: absolute;
    width: 100%;
    background-color: rgb(255,255,255);
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom left;
    transition: transform 2s ease-in-out;
}

nav>a:hover::after{
    transform: scaleX(1);
    background-color: rgb(0, 0 ,0);
    transform-origin: bottom right;
}